.meme-container{
    width: 100%;
    background-color: white;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.meme-container-info{
    width: 80%;
    height: 100%;
    position: relative;
}
.meme-form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 0;
}
.meme-gen-text{
    padding: .4rem;
    border: 1px solid #D5D4D8;
    border-radius: .2rem;
    min-width: 16rem;
    width: 100%;
}
.btn{
    width: 100%;
    text-align: center;
    margin: 1rem 0; 
}
.btn .getMemeBtn{
    min-width: 100%;
    padding: 1rem 5rem;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: #FFFFFF;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
}
.meme-img{
    width: 100%;
}
.meme-img-text{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 80%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
    word-wrap: break-word;
}

.bottom{
    bottom: 8rem;
}
.top{
    top: 20rem;
}


@media screen and (max-width: 850px) {
    .meme-gen-text{
        min-width: 14rem;
    }
    .meme-img-text{
        font-size: 1.4rem;
    }
    .bottom{
        bottom: 4rem;
    }
    .top{
        top: 15rem;
    }
}
@media screen and (max-width: 768px) {
    .meme-gen-text{
        min-width: 12rem;
    }
    .meme-form{
        flex-direction: column;
    }
    .meme-img-text{
        font-size: 1.2rem;
    }
    .bottom{
        bottom: 2rem;
    }
    .top{
        top: 18rem;
    }
}
@media screen and (max-width: 450px){
    .meme-img-text{
        font-size: .8rem;
    }
    .bottom{
        bottom: 2rem;
    }
    .top{
        top: 20rem;
    }
}